/*===================== Tipografia =====================*/
$font-sans-serif: "Fredoka", sans-serif;

$font-size-base: 16px !default;
$font-size-small: 14px !default;
$font-size-medium: 18px !default;
$font-size-large: 20px !default;
$font-size-large-navbar: 22px !default;

$font-size-h1: 3.6em !default;
$font-size-h2: 2.8em !default;
$font-size-h3: 1.825em !default;
$font-size-h4: 1.6em !default;
$font-size-h5: 1.35em !default;
$font-size-h6: 0.9em !default;
$font-paragraph: 16px !default;
$font-size-navbar: 16px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi: 500 !default;
$font-weight-bold: 600 !default;

$line-height-small: 20px !default;
$line-height-general: 1.5em !default;
$line-height: 36px !default;
$line-height-lg: 54px !default;

/*===================== Cores =====================*/
$color-1: #982881;
$color-2: #632678;
$color-3: #254589;
$color-4: #006db2;

// Variants
$color-1-light: #e390d2;
$color-2-light: #a867be;
$color-3-light: #5b7fcc;
$color-4-light: #58ade2;

$bg-dark: #000000;
$bg-dark-1: #282828;

$bg-gray: #c5c5c5;
$bg-gray-light: #e1e1e1;

$bg-light: #ffffff;
$bg-light-1: #f4f4f4;
