/*===================== Tipografia =====================*/
$font-sans-serif: "Fredoka One", sans-serif;

/*===================== Cores =====================*/
$color-1: #982881;
$color-2: #632678;
$color-3: #254589;
$color-4: #006db2;

// Variants
$color-1-light: #e390d2;
$color-2-light: #a867be;
$color-3-light: #5b7fcc;
$color-4-light: #58ade2;

$bg-dark: #000000;
$bg-dark-1: #282828;

$bg-gray: #c5c5c5;
$bg-gray-light: #e1e1e1;

$bg-light: #ffffff;
$bg-light-1: #f4f4f4;
