body {
  background: linear-gradient(
    315deg,
    rgba(111, 38, 122, 1) 0%,
    rgba(152, 40, 129, 1) 44%
  );
  height: 100vh;
}

.home {
  display: flex;
  padding: 16px 56px;
  height: 100vh;

  .ranking {
    width: 100%;
    height: 60%;
    flex: 0.8;

    .left-content {
      max-width: 400px;
      border-radius: 40px;
      background-color: $color-1;
      margin: 0 auto;
      height: 100%;
    }
  }

  .dashboard {
    width: 100%;
    flex: 1;

    h1 {
      @include headline-1-sans-serif;
    }
  }
}
