body {
  background-color: $color-1;
}

.container-login {
  display: flex;
  justify-content: space-evenly;
  background-color: $bg-light-1;
  padding: 20px;
}

.right-login {
  display: flex;
  flex: 1;
  justify-content: center;
}

.left-login {
  flex: 1;

  .box-login {
    background-color: $bg-light;
    height: 100%;
    margin: 0 auto;

    h1 {
      @include headline-1-sans-serif;
    }
  }
}
