/*
===============================================
 Main input
===============================================
*/
.main-input {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-3-light;
}
