/*
===============================================
 Main input
===============================================
*/
.main-input {
  font-family: Fredoka;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-3-light;
  margin-bottom: 4px;
}
.main-input::placeholder {
  color: $bg-gray;
}
.main-input:focus {
  transition: 1s ease-in;
  border-bottom: 1px solid $color-2-light;
}