.veiacos-table-header {
  margin-bottom: 24px;

  .table-headline {
    @include headline-6-sans-serif;
  }
}

.veiacos-table {
  text-align: center;
  margin: 30px 0;

  tr {
    text-align: left;
    @include body-normal-sans-serif;

    td {
      width: 240px;
      font-size: 16px;
      padding: 34px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.062);
      cursor: pointer;
    }
  }

  th {
    color: rgba(0, 0, 0, 0.521);
  }

  .veiaco-picture {
    background: url("https://yt3.ggpht.com/yti/AJo0G0klEzwyiGwEld2jXcDW-o_OiPLRT4pUZ5xj2uKysw=s88-c-k-c0x00ffffff-no-rj-mo");
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 6px;
  }
}

.veiacos-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .show-items {
    @include body-normal-sans-serif;
    color: rgba(0, 0, 0, 0.521);
  }

  .see-all-veiacos {
    display: flex;
    @include body-normal-sans-serif;
    gap: 8px;
    color: $color-1;
    cursor: pointer;
    font-weight: bold;
  }
}
