/* 
==========================================================================
   VEIACOS
========================================================================== 
*/
@font-face {
  font-family: Fredoka;
  src: url("../fonts/Fredoka/Fredoka-Regular.ttf");
}
/* ------------ Abstracts ------------ */
/*===================== Typography =====================*/
/*===================== Colors =====================*/
/*============= Variants ==============*/
/*===================== Headline Sans-Serif =====================*/
/*===================== Body Sans-serif  =====================*/
/*===================== Label Sans-serif  =====================*/
/* ------------ Base ------------ */
/* 
==========================================================================
   RESET VEIACOS STYLE
========================================================================== 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------ Components ------------ */
/*
===============================================
 Main input
===============================================
*/
.main-input {
  font-family: Fredoka;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #5b7fcc;
}

.main-input::placeholder {
  color: #c5c5c5;
}

.main-input:focus {
  transition: 1s ease-in;
  border-bottom: 1px solid #a867be;
}

/*
===============================================
 Main button
===============================================
*/
.main-button-1 {
  width: 160px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 26px;
  font-family: Fredoka;
  background-color: #982881;
  color: #ffffff;
  cursor: pointer;
}

.main-button-2 {
  width: 160px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 26px;
  font-family: Fredoka;
  background-color: #632678;
  color: #ffffff;
  cursor: pointer;
}

.main-button-3 {
  width: 160px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-size: 26px;
  font-family: Fredoka;
  background-color: #254589;
  color: #ffffff;
  cursor: pointer;
}

/*
===============================================
 Error input message/required
===============================================
*/
.input-error-message {
  font-family: Fredoka, sans-serif;
  font-size: 0.9em;
  text-align: left;
  animation-name: inputErrorMessageShow;
  animation-duration: 0.5s;
}

@keyframes inputErrorMessageShow {
  0% {
    opacity: 0%;
    margin-left: -4%;
  }
  100% {
    opacity: 100%;
    margin-left: unset;
  }
}
.error-message {
  font-family: "Fredoka", sans-serif;
  font-size: 1.875em;
  line-height: 42px;
  font-size: 18px;
  animation-name: errorMessage;
  animation-duration: 0.5s;
}

@keyframes errorMessage {
  0% {
    opacity: 0%;
    margin-left: -4%;
  }
  100% {
    opacity: 100%;
    margin-left: unset;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}
.header .logo-app {
  cursor: pointer;
}
.header .nav ul {
  display: flex;
  gap: 20px;
}
.header .nav-link {
  color: rgba(190, 190, 190, 0.521);
  text-decoration: none;
  font-size: 18px !important;
  font-family: "Fredoka", sans-serif;
  font-size: 0.875em;
  line-height: 20px;
}
.header .nav-link-active {
  color: #982881;
  font-size: 18px !important;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  font-size: 0.875em;
  line-height: 20px;
}
.header .user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .user-info .username {
  font-family: "Fredoka", sans-serif;
  font-size: 0.875em;
  line-height: 20px;
}
.header .user-info .box-user-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: url("https://yt3.ggpht.com/yti/AJo0G0klEzwyiGwEld2jXcDW-o_OiPLRT4pUZ5xj2uKysw=s88-c-k-c0x00ffffff-no-rj-mo");
}

.veiacos-table-header {
  margin-bottom: 24px;
}
.veiacos-table-header .table-headline {
  font-family: "Fredoka", sans-serif;
  font-size: 1.25em;
  line-height: 28px;
}

.veiacos-table {
  text-align: center;
  margin: 30px 0;
}
.veiacos-table tr {
  text-align: left;
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  line-height: 22px;
}
.veiacos-table tr td {
  width: 240px;
  font-size: 16px;
  padding: 34px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.062);
  cursor: pointer;
}
.veiacos-table th {
  color: rgba(0, 0, 0, 0.521);
}
.veiacos-table .veiaco-picture {
  background: url("https://yt3.ggpht.com/yti/AJo0G0klEzwyiGwEld2jXcDW-o_OiPLRT4pUZ5xj2uKysw=s88-c-k-c0x00ffffff-no-rj-mo");
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 6px;
}

.veiacos-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.veiacos-table-footer .show-items {
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.521);
}
.veiacos-table-footer .see-all-veiacos {
  display: flex;
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  line-height: 22px;
  gap: 8px;
  color: #982881;
  cursor: pointer;
  font-weight: bold;
}

.dash-status {
  display: flex;
  justify-content: space-between;
}
.dash-status .box-dashboard {
  background-color: red;
  display: flex;
  gap: 6px;
  width: 170px;
  margin-bottom: 40px;
  border-radius: 36px;
  padding: 16px 24px;
}
.dash-status .box-dashboard .box-title {
  font-family: "Fredoka", sans-serif;
  font-size: 1.25em;
  line-height: 28px;
  flex-direction: column;
  align-items: center;
}
.dash-status .box-dashboard .box-value {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5em;
  line-height: 34px;
}

/* ------------ Layout ------------ */
@media (min-width: 1800px) {
  .container-app {
    max-width: 1800px !important;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .container-app {
    max-width: 1200px !important;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-app {
    max-width: 992px !important;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-app {
    max-width: 768px !important;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container-app {
    max-width: 600px !important;
    margin: 0 auto;
    padding: 0 10px;
  }
}
/* ------------ Pages ------------ */
body {
  background-color: #982881;
}

.container-login {
  display: flex;
  margin: 2.5%;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  padding: 20px;
  height: 80vh;
}

.right-login {
  display: flex;
  flex: 1;
  justify-content: center;
}

.left-login {
  flex: 1;
}
.left-login .box-login {
  background-color: #ffffff;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.left-login .box-login .login-headline {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5em;
  line-height: 34px;
  width: 390px;
  text-align: center;
  margin: 0 auto;
}
.left-login .box-login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 390px;
  text-align: center;
  margin: 0 auto;
}
.left-login .box-login form .container-button-login {
  margin: 30px;
}
.left-login .box-login form .label-new-user {
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  line-height: 22px;
}
.left-login .box-login form .label-new-user span {
  color: #58ade2;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
}
.left-login .box-login h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 3.4375em;
  line-height: 77px;
}

body {
  background-color: #ffffff;
}

.home {
  display: flex;
  padding: 16px 56px;
  height: 100vh;
}
.home .ranking {
  width: 100%;
  height: 60%;
  flex: 0.8;
}
.home .ranking .left-content {
  max-width: 400px;
  border-radius: 40px;
  background-color: #982881;
  margin: 0 auto;
  height: 100%;
}
.home .dashboard {
  width: 100%;
  flex: 1;
}
.home .dashboard h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 3.4375em;
  line-height: 77px;
}

/*# sourceMappingURL=main.css.map */
